@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.nama{
  text-align: center;
  font-family: 'Righteous', cursive;
}

.nav{
  text-align: center;
}

.head{
  background: red;
}